<nz-layout class="app-layout">
  <nz-sider style="position:fixed;"
            class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null"
            [nzTheme]="theme ? 'dark' : 'light'">
    <nz-header>
      <ul nz-menu [nzTheme]="theme ? 'dark' : 'light'" nzMode="horizontal">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger"
             nz-icon
             [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
             style="padding: 6px;"
          ></i>
        </span>
      </ul>
    </nz-header>
    <ul nz-menu nzMode="inline" [nzTheme]="theme ? 'dark' : 'light'" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/dashboard/welcome">Welcome</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/dashboard/monitor">Monitor</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/dashboard/about">About</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Manager" nzIcon="setting">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/manager/base">Base</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/manager/proxy">Proxy Manager</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/manager/route">Routing Manager</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/manager/dns">Dns Manager</a>
          </li>
        </ul>
      </li>
      <li nz-menu-item nzMatchRouter >
        <i nz-icon [nzType]="switch ? 'poweroff' : 'play-circle'"></i>
        <span>Switch<nz-switch style="position: absolute; right: 12px;" [(ngModel)]="switch"></nz-switch></span>
      </li>
    </ul>
  </nz-sider>
  <nz-sider nzWidth="256px" nzCollapsed="true" [nzTrigger]="null"></nz-sider>
  <nz-layout>
    <nz-header>
      <ul nz-menu [nzTheme]="theme ? 'dark' : 'light'" nzMode="horizontal" class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          Panel
        </span>
        <span></span>
        <span style="position: absolute;
                     right: 10px;">
          <nz-switch style="position: relative; right: 12px;" [(ngModel)]="theme"></nz-switch>
          <b>Dark Mode</b>
        </span>
      </ul>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
